# Modules

zmodule environment
zmodule git
zmodule input
zmodule termtitle
zmodule utility
zmodule asdf
zmodule fzf

# Completion

zmodule zsh-users/zsh-completions --fpath src
zmodule completion

# Modules that must be initialized last

zmodule zsh-users/zsh-syntax-highlighting
zmodule zsh-users/zsh-history-substring-search
zmodule zsh-users/zsh-autosuggestions

# ohmyzsh 
zmodule ohmyzsh/ohmyzsh \
  -f 'plugins/emacs' -s 'plugins/emacs/emacs.plugin.zsh' \
  -f 'plugins/zoxide' -s 'plugins/zoxide/zoxide.plugin.zsh' \
  -f 'plugins/git' -s 'plugins/git/git.plugin.zsh' 

# custom
zmodule zhoumingjun/zsh-plugins -s proxy/proxy.plugin.zsh -s login/login.plugin.zsh
